@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

.navbar {
  font-family: "Plus Jakarta Sans", sans-serif;
  position: fixed; 
  top: 100px; 
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
  display: none; 
}

.navbar h6 {
  color: #90A3BF;
  font-size: 12px;
  font-weight: 600;
}

.navbar .filter-section label {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #596780;
  margin-bottom: 8px;
  cursor: pointer;
}

.navbar .filter-section input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #3563e9;
}

.navbar .slider-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar .slider-container span {
  font-size: 14px;
  color: #333;
  text-align: left;
}

.navbar .slider-container input[type="range"] {
  width: 100%;
  cursor: pointer;
  accent-color: #3563e9;
  padding-bottom: 20px;
}



