.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .content-container {
    display: flex;
    flex: 1; 
  }
  
  header {
    width: 100%;
    border-bottom: 1px solid rgba(195, 212, 233, 0.4);
  }
  

  footer {
    border-top: 1px solid rgba(195, 212, 233, 0.4);
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }


  
